{% extends "base.html" %}
{% load static %}

{% block header %}
    <header style="margin-bottom: 53px;">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav" style="font-size:16px; padding-left:200px;">
                        <li>
                            <a href="{% url bluebell.consumer.views.home %}">Home</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="{% url bluebell.consumer.views.localize_stations %}">Localize Station</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="{% url bluebell.consumer.views.zipcode_listings %}">Zipcode Listings</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="{% url bluebell.consumer.views.episode_listings %}">Episode Listings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
