{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bluebell</title>

        <!-- Le base javascript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <!-- Le base styles -->
        <link rel="stylesheet" href="{% get_static_prefix %}bootstrap-2.1.1/css/bootstrap.css">
        <link rel="stylesheet" href="{% get_static_prefix %}bootstrap-2.1.1/css/bootstrap-responsive.css">
    </head>

    <body style="background-image: url('{% get_static_prefix %}grey.png');">

        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}

        <!-- Le bootstrap javascript -->
        <script src="{% get_static_prefix %}bootstrap-2.1.1/js/bootstrap.js"></script>
        {% block extrascripts %}{% endblock %}
    </body>
</html>
