{% extends "base.html" %}
{% load static %}

{% block header %}
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url home %}">
                        BlueBell
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="{% url station_by_zip %}">Station by Zip</a>
                            </li>
                            <!--li>
                                <a href="{% url station_by_state %}">Station by State</a>
                            </li-->
                            {% block searchbar %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
