{% extends "base_nav.html" %}
{% load static %}

{% block content %}
    <div class="container" style="padding-top: 23px;">
        <form method='post' action='{% url bluebell.consumer.views.episode_listings %}'>
            {% csrf_token %}
            <div class="row">
                <div class="offset2 span7" style="padding-left:40px;">
                    <input class="span4" name="episode_url" type="url" style="height:26px; font-size: 16px; text-align:center;" value="{{ episode_url }}" required placeholder="Enter your episode url...">
                    <input class="span2" name="zipcode" type="text" maxlength="5" style="height:26px; margin-left:2px; font-size: 16px; text-align:center;" value="{{ zipcode }}" required placeholder="Zipcode...">
                    <button type="submit" class="btn btn-large" style="margin-bottom:8px; margin-left:2px;"><i class="icon-road" style="margin-left:15px; margin-right:15px;"></i></button>
                </div>
                <div class="row">
                    <div class="offset2">
                        <p class="span3" style="padding-left:110px; margin-right:16px;"> Select your TV provider... </p>
                        <select id='headends' name='channels_url' data-placeholder="Select your TV provider" class="chzn-select">
                            <option value=''>Over the Air Broadcast</option>
                            {% for he_name, channels_url in headends %}
                                {% if selected_channels_url == channels_url %}
                                    <option selected="selected" value={{ channels_url }}>{{ he_name }}</option>
                                {% else %}
                                    <option value={{ channels_url }}>{{ he_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="container" style="padding-top:6px;">
                {% if listings %}
                    <table class="table table-bordered" style="width:940px;">
                        {% for callsigns in listings %}
                            <tr>
                            {% for callsign, feeds in callsigns.items %}
                                <th style="text-align:center; width:100px; vertical-align:middle; color:#005580;">
                                    {{ callsign }}
                                </th>
                                <td style="padding-top:22px;">
                                    <table class="table table-bordered" style="width:840px;">
                                    {% for feed in feeds %}
                                        {% for feed_name, listing_data in feed.items %}
                                            <tr>
                                                <th style="text-align: center; vertical-align:middle; width:140px; color:#C09853;">
                                                    <div>{{ feed_name }}</div>
                                                    {% if selected_channels_url %}
                                                        <p style="color:#333;">{{ listing_data.0 }}</p>
                                                    {% endif %}
                                                </th>
                                                <td style="padding-top:22px;">
                                                    <table class="table table-bordered table-striped" style="width:700px;">
                                                    <tr>
                                                        {% if selected_channels_url %}
                                                            {% with listing_data|slice:"1:" as sliced_data %}
                                                                <td style="text-align:center; padding-top:8px; width:175px;">
                                                                    <div style="font-weight:bold;">{{ sliced_data.0.start_time|slice:":2"}}:{{ sliced_data.0.start_time|slice:"2:"}}</div>
                                                                    <div style="font-weight:bold;">{{ sliced_data.0.start_date|slice:"4:6" }}-{{ listing_data.start_date|slice:"6:8" }}-{{ sliced_data.0.start_date|slice:":4" }}</div>
                                                                </td>
                                                            {% endwith %}
                                                        {% else %}
                                                            <td style="text-align:center; padding-top:8px; width:175px;">
                                                                <div style="font-weight:bold;">{{ listing_data.start_time|slice:":2"}}:{{ listing_data.start_time|slice:"2:"}}</div>
                                                                <div style="font-weight:bold;">{{ listing_data.start_date|slice:"4:6" }}-{{ listing_data.start_date|slice:"6:8" }}-{{ listing_data.start_date|slice:":4" }}</div>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </table>
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            <div>
            <div>
        </form>
    </div>
{% endblock %}
