{% extends "base_nav.html" %}
{% load static %}

{% block headerbar %}
{% include "search_navbar.html" %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>TV Schedule Grid for {{ callsign }}</h1>

    <table class="table table-bordered table-condensed">
        <thead>
            <td>Channel Name</td>
            <td>Midnight</td>
            <td>12:30am</td>
            <td>1:00 AM</td>
            <td>1:30 AM</td>
            <td>2:00 AM</td>
            <td>2:30 AM</td>
            <td>3:00 AM</td>
            <td>3:30 AM</td>
            <td>4:00 AM</td>
            <td>4:30 AM</td>
            <td>5:00 AM</td>
            <td>5:30 AM</td>
            <td>6:00 AM</td>
            <td>6:30 AM</td>
            <td>7:00 AM</td>
            <td>7:30 AM</td>
            <td>8:00 AM</td>
            <td>8:30 AM</td>
            <td>9:00 AM</td>
            <td>9:30 AM</td>
            <td>10:00 AM</td>
            <td>10:30 AM</td>
            <td>11:00 AM</td>
            <td>11:30 AM</td>
            <td>12:00 PM</td>
            <td>12:30 PM</td>
            <td>1:00 PM</td>
            <td>1:30 PM</td>
            <td>2:00 PM</td>
            <td>2:30 PM</td>
            <td>3:00 PM</td>
            <td>3:30 PM</td>
            <td>4:00 PM</td>
            <td>4:30 PM</td>
            <td>5:00 PM</td>
            <td>5:30 PM</td>
            <td>6:00 PM</td>
            <td>6:30 PM</td>
            <td>7:00 PM</td>
            <td>7:30 PM</td>
            <td>8:00 PM</td>
            <td>8:30 PM</td>
            <td>9:00 PM</td>
            <td>9:30 PM</td>
            <td>10:00 PM</td>
            <td>10:30 PM</td>
            <td>11:00 PM</td>
            <td>11:30 PM</td>
        </thead>
        <tbody>
        {% for feed in listings.feeds %}
            <tr>
                <td>{{ feed.short_name}}</td>
                {% for l in feed.listings %}
                <td colspan={{l.colspan}}>
                    {% if l.episode_description %}
                        <div class='listingdesc' rel='popover' data-content="{{l.episode_description}}">
                    {% else %}
                        <div class='listingdesc' rel='popover' data-content="{{l.description}}">
                    {% endif %}

                    <b>
                    {% if l.program_id %}
                    <a href='{% url "view-program" l.program_id callsign %}'>{{l.title}}</a>
                    {% else %}
                    {{ l.title }}
                    {% endif %}
                    </b><br>
                    {% if l.episode_title %}
                        <i>{{l.episode_title}}</i><br>
                    {% endif %}
                    </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
$(function()
{
    $('.listingdesc').popover({trigger:'hover'});
});
</script>
{% endblock %}
