{% extends "base_nav.html" %}
{% load static %}

{% block content %}
    <div class="container" style="padding-top: 23px;">
        <form method='post' action='{% url bluebell.consumer.views.localize_stations %}'>
            {% csrf_token %}
            <div class="row">
                <div class="offset2" style="padding-left:40px;">
                    <input name='zipcode' class="span5" type="text" maxlength="5" style="height:26px; font-size:16px; text-align:center;" value="{{ zipcode }}" required placeholder="Enter your zipcode...">
                    <button type="submit" class="btn btn-large" style="margin-bottom:8px; margin-left:68px;"><i class="icon-road" style="margin-left:15px; margin-right:15px;"></i></button>
                </div>
            </div>
            <div class="container" style="padding-top: 26px;">
                {% if ztc_data %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th style="color:#005580;">Short Common Name</th>
                            <th style="color:#C09853;">Flagship</th>
                            <th class="confidence_help" style="color:#C09853;">Confidence</th>
                            <th class="sort_help" style="color:#C09853;">Sort</th>
                            <th style="color:#C09853;">Available Callsigns</th>
                        </thead>
                        <tbody>
                            {% for callsign in ztc_data %}
                                <tr>
                                    <td>{{ callsign.short_common_name.0 }}</td>
                                    <td>{{ callsign.flagship.0 }}</td>
                                    <td>{{ callsign.confidence.0 }}</td>
                                    <td>{{ callsign.rank.0 }}</td>
                                    <td>
                                        {% for cs in callsign.callsign %}
                                            {{ cs }}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            <div>
        </form>
    </div>
{% endblock %}
