{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container" style="padding-top: 23px;">
        <form method='post' action='{% url bluebell.consumer.views.localize_stations %}'>
            {% csrf_token %}
            <div class="row">
                <h3 class="span1 offset1" style="text-align: center; padding-top:5px; color:#005580;">{{ zipcode }}</h3>
                <div class="offset1 span5 row">
                    <input name='zipcode' type="text" maxlength="5" style="height:27px; font-size: 16px;" required class="span5" placeholder="Enter your zipcode...">
                </div>
                <div class="span3">
                    <button type="submit" class="btn btn-large">Localize</button>
                </div>
            </div>
            <div class="container" style="padding-top: 23px;">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th style="color:#005580;">Callsign</th>
                        <th style="color:#C09853;">Short common name</th>
                        <th style="color:#C09853;">Flagship</th>
                        <th style="color:#C09853;">Rank</th>
                        <th style="color:#C09853;">Confidence</th>
                    </thead>
                    <tbody>
                        {% for callsign in data %}
                            <tr>
                                <td>{{ callsign.callsign }}</td>
                                <td>{{ callsign.short_common_name }}</td>
                                <td>{{ callsign.flagship }}</td>
                                <td>{{ callsign.rank }}</td>
                                <td>{{ callsign.confidence }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div>
        </form>
    </div>
{% endblock %}
