{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container" style="padding-top: 23px;">
        <form method='post' action='{% url bluebell.consumer.views.show_listings %}'>
            {% csrf_token %}
            <div class="rw">
                <h3 class="span1 offset1" style="text-align: center; padding-top:5px; color:#005580;">{{ zipcode }}</h3>
                <div class="offset1 span5 row">
                    <input name="zipcode" type="text" maxlength="5" style="height:27px; font-size: 16px; text-align:center;" required class="input-medium" placeholder="Enter your zipcode...">
                    <input name="date" type="text" style="height:27px; font-size: 16px; margin-top: 0px; text-align:center;" required class="datepicker input-small">
                    <input name="time" type="text" style="height:27px; font-size: 16px; text-align:center;" required class="timepicker input-small">
                </div>
                <div class="span3">
                    <button type="submit" class="btn btn-large">Show</button>
                </div>
            </div>
            <div class="container" style="padding-top: 23px;">
                {% if listings %}
                    <table class="table table-bordered table-condensed" style="width:940px;">
                        {% for callsigns in listings %}
                            <tr>
                            {% for callsign, feeds in callsigns.items %}
                                <th style="text-align:center; width:100px; vertical-align:middle; color:#005580;">
                                    {{ callsign }}
                                </th>
                                <td style="padding-top:22px;">
                                    <table class="table table-bordered table-condensed" style="width:840px;">
                                    {% for feed in feeds %}
                                        {% for feed_name, listing_data in feed.items %}
                                            <tr>
                                                <th style="text-align: center; vertical-align:middle; width:140px; color:#C09853;">
                                                    {{ feed_name }}
                                                </th>
                                                <td style="padding-top:22px;">
                                                    <table class="table table-bordered table-condensed table-striped" style="width:700px;">
                                                    <tr>
                                                        {% with listing_data|dictsort:"start_time" as ordered_list %}
                                                            {% for data in ordered_list|slice:":4"%}
                                                                <td style="text-align:center; padding-top:8px; width:175px;">
                                                                   <div style="font-weight:bold;">{{ data.start_time|linebreaks }}</div>
                                                                   <div style="color:#005580;">{{ data.title }}</div>
                                                                </td>
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </table>
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            <div>
        </form>
    </div>
{% endblock %}
