{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container" style="padding-top: 23px;">
        <form method='post' action='{% url bluebell.consumer.views.show_listings %}'>
            {% csrf_token %}
            <div class="row">
                <h3 class="span1 offset1" style="text-align: center; padding-top:5px; color:#005580;">{{ zipcode }}</h3>
                <div class="offset1 span5 row">
                    <input name='zipcode' type="text" maxlength="5" style="height:27px; font-size: 16px;" required class="span5" placeholder="Enter your zipcode...">
                </div>
                <div class="span3">
                    <button type="submit" class="btn btn-large">Show</button>
                </div>
            </div>
            <div class="container" style="padding-top: 23px;">
                {% if listings %}
                    <table class="table table-bordered table-condensed">
                        {% for callsigns in listings %}
                            <tr>
                            {% for callsign, feeds in callsigns.items %}
                                <td>
                                    {{ callsign }}
                                </td>
                                <td>
                                    <table class="table table-bordered table-condensed">
                                    {% for feed in feeds %}
                                        {% for feed_name, listing_data in feed.items %}
                                            <tr>
                                                <td>
                                                    {{ feed_name }}
                                                </td>
                                                <td>
                                                    <table class="table table-bordered table-condensed">
                                                    <tr>
                                                        {% for data in listing_data %}
                                                            <td>
                                                               <div>{{ data.start_time|linebreaks }}</div>
                                                               <div>{{ data.title }}</div>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </table>
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            <div>
        </form>
    </div>
{% endblock %}
