{% extends "base_nav.html" %}
{% load static %}

{% block headerbar %}
{% include "search_navbar.html" %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Program: {{program.title}}</h1>
    <p class='lead'>
    {{ program.description }}
    </p>
    <h3>Upcoming Episodes</h3>
    <table class="table table-bordered table-condensed">
            <tbody>
                {% for upe in program.upcoming_episodes %}
                <tr>
                    <td>
                        <b>Time:</b> {{ upe.day_obj|date:'l, M d' }} at {{ upe.start_time_obj|time:'h:i A' }}<br>
                        {% if upe.episode_title %}
                            <b>Episode Title:</b>
                            <a href='{% url "view-show" upe.show_id callsign %}'>{{ upe.episode_title }}</a><br>
                            <b>Episode Description:</b>{{ upe.episode_description }}<br>
                        {% endif %}
                        <b>Duration:</b> {{ upe.minutes }} minutes<br>
                        Broadcast on <b>{{ upe.feed.full_name }}</b>
                        {% if upe.feed.analog_channel %}
                            (Channel {{ upe.feed.analog_channel}})
                        {% else %}
                            (Channel {{ upe.feed.digital_channel}})
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}
