{% extends "base_nav.html" %}
{% load static %}

{% block headerbar %}
{% include "search_navbar.html" %}
{% endblock %}

{% block content %}

<div class="container">
    {% if show.episode_title %}
        <h1>{{ show.episode_title }}</h1>
    {% else %}
        <h1>{{show.title}}</h1>
    {% endif %}
    <p class='lead'>
    {% if show.episode_description %}
        {{ show.episode_description }}
    {% else %}
        {{ show.description }}
    {% endif %}
    </p>
    {% if show.program_id %}
        <p>Program: <a href='{% url "view-program" show.program_id callsign %}'>{{ show.title }}</a>
    {% endif %}
    <h3>Upcoming Showings</h3>
    <table class="table table-bordered table-condensed">
            <tbody>
                {% for upe in show.upcoming_shows %}
                <tr>
                    <td>
                        <b>Time:</b> {{ upe.day_obj|date:'l, M d' }} at {{ upe.start_time_obj|time:'h:i A' }}<br>
                        {% if upe.episode_title %}
                            <b>Episode Title:</b> {{ upe.episode_title }}<br>
                            <b>Episode Description:</b>{{ upe.episode_description }}<br>
                        {% endif %}
                        <b>Duration:</b> {{ upe.minutes }} minutes<br>
                        Broadcast on <b>{{ upe.feed.full_name }}</b>
                        {% if upe.feed.analog_channel %}
                            (Channel {{ upe.feed.analog_channel}})
                        {% else %}
                            (Channel {{ upe.feed.digital_channel}})
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}
