container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:container:python:environment":
    DJANGO_SETTINGS_MODULE: "bluebell.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "bluebell/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"