container_commands:
commands:
  01_collectstatic:
    command: "django-admin.py collectstatic --noinput"

# If you do not specify a namespace, the default used is aws:elasticbeanstalk:application:environment
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bluebell.settings"
    "TVSS_KEY": "edgar"
    "SODOR_ENDPOINT": "http://services-qa.pbs.org/"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "bluebell/wsgi.py"
    NumProcesses: 3
    NumThreads: 20

  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "bluebell/consumer/static/"
