container_commands:
commands:
  01_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02_install_eb_utility_scripts:
    command: "wget -O eb-utility.zip https://github.com/pbs/eb-utility-scripts/archive/master.zip && unzip eb-utility.zip && rm -f eb-utility.zip && mv eb-utility-scripts-master eb-utility"
  03_install_splunk:
    command: "bash eb-utility/scripts/install-splunk-forwarder.sh"

# If you do not specify a namespace, the default used is aws:elasticbeanstalk:application:environment
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bluebell.settings"
    "TVSS_KEY": "bluebell-454685eebf1139664f7f25daa153ae40bbea7f4cd7434eeee7ebf7f8ad872f37"
    "SODOR_ENDPOINT": "http://services:.pbs.org/"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "bluebell/wsgi.py"
    NumProcesses: 3
    NumThreads: 20

  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "bluebell/consumer/static/"
